.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    &__size {
        &-md {
            width: 15px;
            height: 15px;
            flex: 0 0 15px;
        }
    }
    svg {
        width: 100%;
        height: 100%;
        stroke: currentColor;
        fill: none;
    }
}