.navigation__links {
    &-item {
        display: flex;
        align-items: center;
        font-size: 13px;
        line-height: 1.25;
        text-decoration: none;
        color: $dark;
        padding: 2px 0;
        transition: $transition-button;
        @media (hover: hover) {
            &:hover {
                color: $primary;
            }
        }
    }
    &-icon {
        margin-right: 7px;
    }
}